.layout_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: var(--size-md);
}

.footer,
.header {
    height: 50px;
    padding: var(--size-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    border-bottom: 1px solid var(--border);
}

.footer {
    border-top: 1px solid var(--border);
}
