.layout_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 16px;
}

.footer,
.header {
    height: 50px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    border-bottom: 1px solid #333;
}

.footer {
    border-top: 1px solid #333;
}
