.header_container {
    display: flex;
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.center {
    flex: 1;
    justify-content: center;
}

.role {
    font-weight: bold;
    margin-right: 8px;
}
