.header_container {
    display: flex;
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
    gap: var(--size-md);
}

.center {
    flex: 1;
    justify-content: center;
}

.role {
    font-weight: bold;
    margin-right: var(--size-sm);
}
