.header_container {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: var(--size-md);
}

.role {
    font-weight: bold;
    margin-right: var(--size-sm);
}
